/*body {
    font-family: "Roboto", sans-serif;
    font-family: "Raleway", sans-serif;
}*/

*:focus {
    outline: none;
}

@mixin font-Rob-norm {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin font-Rob-bold {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
}

@mixin font-Ralew-norm {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin font-Ralew-800 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
}
@mixin font-Ralew-strong {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
}

@mixin font-h6($line-height-h6) {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: $line-height-h6;
    color: #202020;
}
@mixin font-plain-normal {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #202020;
}

@mixin img-setup {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
@mixin font-h3 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: #202020;
}
@mixin number-types {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-transform: uppercase;
    color: #f36327;
    -webkit-text-stroke: 1px #f36327;
    -webkit-text-fill-color: white;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.about-company {
    .center {
        .container {
            h1 {
                @include font-Ralew-800;
                font-size: 38px;
                line-height: 45px;
                text-transform: uppercase;
                color: #202020;
                margin-bottom: 22px;
                padding-top: 70px;
            }
            .main-content {
                @include font-h6(160%);
                margin-bottom: 20px;
            }
            .add-content {
                @include font-plain-normal;
            }
            .first-explanation {
                margin-top: 50px;
                padding-bottom: 50px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                .image1 {
                    padding-right: 30px;
                    img {
                        @include img-setup;
                        margin-bottom: 20px;
                    }
                }
                .text-descr {
                    align-self: center;
                    padding-left: 30px;
                    h6 {
                        @include font-h6(140%);
                        margin-bottom: 20px;
                    }
                    p {
                        @include font-plain-normal;
                    }
                }
            }
            .second-explanation {
                margin-top: 50px;
                padding-bottom: 50px;
                .text-second-left {
                    align-self: center;
                    padding-right: 30px;
                    h6 {
                        @include font-h6(140%);
                        margin-bottom: 20px;
                    }
                    p {
                        @include font-plain-normal;
                    }
                }
                .image-right {
                    padding-left: 30px;
                    img {
                        @include img-setup;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
.third-section {
    background: #f6f6f6;
    .center {
        .third-section-text {
            padding-top: 60px;
            padding-bottom: 60px;
            .third-section-summary {
                .office-walls-left {
                    padding-right: 30px;
                    h3 {
                        @include font-h3;
                        margin-bottom: 40px;
                    }
                    .office-walls-item {
                        display: flex;
                        margin-bottom: 30px;
                        img {
                            margin-right: 20px;
                            width: 30px;
                            height: 30px;
                        }
                        p {
                            @include font-Rob-norm;
                            font-size: 18px;
                            line-height: 100%;
                            color: #202020;
                        }
                    }
                }
                .office-walls-right {
                    padding-left: 30px;
                    h6 {
                        @include font-h6(140%);
                        margin-bottom: 20px;
                    }
                    p {
                        @include font-plain-normal;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.four-section {
    .center {
        .types-are {
            .types-one-two {
                padding-top: 60px;
                padding-bottom: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                h3 {
                    @include font-h3;
                    margin-bottom: 40px;
                }
                p {
                    @include font-h6(120%);
                    margin-bottom: 40px;
                }
                .title-content-left {
                    padding-right: 30px;
                    .number-types {
                        @include number-types;
                    }
                    .number-types:hover {
                        -webkit-text-fill-color: #f36327;
                    }
                    h6 {
                        @include font-Rob-bold;
                        font-size: 20px;
                        line-height: 120%;
                        color: #202020;
                        margin-bottom: 20px;
                    }
                    .types-one-descr {
                        @include font-plain-normal;
                        margin-bottom: 20px;
                    }
                }
                .title-content-right {
                    padding-left: 30px;
                    .number-types {
                        @include number-types;
                    }
                    .number-types:hover {
                        -webkit-text-fill-color: #f36327;
                    }
                    h6 {
                        @include font-Rob-bold;
                        font-size: 20px;
                        line-height: 120%;
                        color: #202020;
                        margin-bottom: 20px;
                    }
                    .types-two-descr {
                        @include font-plain-normal;
                        margin-bottom: 20px;
                    }
                }
            }
            .type-bottom {
                padding-top: 40px;
                p {
                    @include font-plain-normal;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .center {
        width: 90%;
        margin: 0 auto;
    }
    .about-company .center .container h1 {
        padding-top: 40px;
        font-size: 30px;
        line-height: 36px;
    }
    .third-section .center .third-section-text {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .third-section .center .third-section-text .third-section-summary .office-walls-left h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .four-section .center .types-are .types-one-two h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .four-section .center .types-are .types-one-two {
        padding-top: 36px;
    }
    .about-company .center .container .first-explanation{
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 767.58px) {
    .about-company .center .container .first-explanation .text-descr,
    .about-company .center .container .second-explanation .image-right,
    .about-company .center .container .second-explanation .text-second-left,
    .third-section .center .third-section-text .third-section-summary .office-walls-right,
    .third-section .center .third-section-text,
    .four-section .center .types-are .types-one-two .title-content-right {
        padding-left: 12px;
    }
}


